[Desktop Entry]
Name=Chithi
Comment=Desktop email client with IMAP, JMAP and Microsoft 365 support
Exec=chithi
Icon=chithi
Terminal=false
Type=Application
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;
StartupWMClass=chithi
